<div id="body">
	<section class="hero-image">
		<img class="left" src="<%= require('../../img/index/banner_left.png') %>" alt="">
		<img class="right" src="<%= require('../../img/index/banner_right.png') %>" alt="">
	</section>
	<section class="hero-contents">
		<div class="container">
			<h1 class="title">生态合作伙伴</h1>
			<p class="desp">加入 OneAPM 渠道生态体系，为伙伴提供软件、<br>系统及增值服务，帮助伙伴实现业务增长。</p>
			<p class="btn-p">
				<!-- <a href="https://user.oneapm.com/pages/v2/signup" target="_blank" class="btn">试用 SasS 产品</a> -->
				<a class="btn contact-us" target="_blank">点击咨询</a>
			</p>
		</div>
	</section>
	<section class="tab">
		<div class="tab-header">
			<div class="container">
				<div class="stretch-box">
					<div class="item active" tabindex="0">渠道生态系统</div>
					<div class="item" tabindex="1">渠道生态伙伴支持</div>
					<div class="item" tabindex="2">培训与认证</div>
				</div>
			</div>
		</div>
		<div class="tab-body">
			<div class="container">
				<div class="tab-contents active">
					<div class="row">
						<h2 class="title">生态合作伙伴体系构成</h2>
						<div class="title-underline"></div>
						<h3 class="subtitle">OneAPM 生态合作伙伴体系</h3>
						<div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<img src="<%= require('../../img/copartner/icon01.svg') %>" alt="">
							<ul>
								<h4 class="list-title">战略合作伙伴</h4>
								<li>SP 铂金合作伙伴</li>
								<li>SG 金牌合作伙伴</li>
								<li>SS 银牌合作伙伴</li>
								<li>SA 授权合作伙伴</li>
							</ul>
						</div>
						<div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<img src="<%= require('../../img/copartner/icon02.svg') %>" alt="">
							<ul>
								<h4 class="list-title">战略合作伙伴</h4>
								<li>TA 应用开发合作伙伴</li>
								<li>TS 服务交付合作伙伴</li>
							</ul>
						</div>
						<div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<img src="<%= require('../../img/copartner/icon03.svg') %>" alt="">
							<ul>
								<h4 class="list-title">战略合作伙伴</h4>
								<li>MP 互联网媒体合作伙伴</li>
								<li>CP 咨询合作伙伴</li>
								<li>PP 各类消费商合作伙伴</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tab-contents">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="stretch-box">
								<img src="<%= require('../../img/copartner/icon11.svg') %>" alt="">
								<div>
									<h4 class="title">强有力的品牌</h4>
									<p class="desp">8年技术与产品积累，全球数十万开发者用户，50000家企业级用户，拥有ISO9001、CMMI3全球体系认证，ITOM／APM领域领军企业</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="stretch-box">
								<img src="<%= require('../../img/copartner/icon12.svg') %>" alt="">
								<div>
									<h4 class="title">丰富的产品线</h4>
									<p class="desp">OneAPM提供包括应用性能管理，IT 事件管理及关联分析，数据中心管理，性能压测以及应用安全管理平台五大产品线</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="stretch-box">
								<img src="<%= require('../../img/copartner/icon13.svg') %>" alt="">
								<div>
									<h4 class="title">专业的渠道支持</h4>
									<p class="desp">根据合作伙伴类型与级别提供不同的激励政策，不定期开展伙伴沙龙及各种主题的营销活动</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="stretch-box">
								<img src="<%= require('../../img/copartner/icon14.svg') %>" alt="">
								<div>
									<h4 class="title">完善的平台接口</h4>
									<p class="desp">强大的业务拓展与对接能力，丰富全面的产品API接口</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="stretch-box">
								<img src="<%= require('../../img/copartner/icon15.svg') %>" alt="">
								<div>
									<h4 class="title">营销开发基金</h4>
									<p class="desp">加大对伙伴营销活动的投资，基金可用于广告、网站建设、活动、演示以及直接营销活动</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
							<div class="stretch-box">
								<img src="<%= require('../../img/copartner/icon16.svg') %>" alt="">
								<div>
									<h4 class="title">专项售后服务支持</h4>
									<p class="desp">提供专业的标准化产品支持服务及不定期的产品迭代升级服务，定制开发服务，全方位保证产品的交付与使用</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-contents">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<img src="<%= require('../../img/copartner/icon21.svg') %>" class="solo" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="courses" style="background-color: #fafafa;">
		<div class="container">
			<div class="row">
				<h2 class="title">课程大纲</h2>
				<div class="title-underline"></div>
				<div class="row">
					<div class="col-sm-10 col-xs-10 col-xxs-12 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
						<table class="table collapse-table">
							<thead>
								<tr>
									<th width="40%;">课程阶段</th>
									<th>课程名称</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>第一阶段：ITOM基础知识入门</td>
									<td class="flextd">
										<div>C101：IT运维管理概论</div>
										<div>C102：IT基础设施监控与管理</div>
										<div>C103：应用性能管理</div>
										<div>C104：用户体验管理</div>
									</td>
								</tr>
								<tr>
									<td>第二阶段：ITOM常用工具的安装部署和使用</td>
									<td class="flextd">
										<div>C201：IT运维管理常用工具</div>
										<div>C202：IT运维管理工具安装部署</div>
										<div>C203：IT运维管理工具使用入门</div>
									</td>
								</tr>
								<tr>
									<td>第三阶段：利用ITOM工具进行故障诊断和调优</td>
									<td class="flextd">
										<div>C301：网络性能诊断和调优</div>
										<div>C302：服务器性能诊断和调优</div>
										<div>C303：应用性能诊断和调优</div>
										<div>C304：用户体验诊断和调优</div>
									</td>
								</tr>
								<tr>
									<td>第四阶段：ITOM一体化规划设计与实施</td>
									<td class="flextd">
										<div>C401：IT运维管理一体化设计</div>
										<div>C402：IT运维管理一体化最佳实践</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="testV">
		<div class="container">
			<div class="row">
				<h2 class="title">认证考试</h2>
				<div class="title-underline"></div>
				<div class="row">
					<div class="col-sm-10 col-xs-10 col-xxs-12 col-sm-offset-1 col-xs-offset-1 col-xxs-offset-0">
						<table class="table collapse-table">
							<thead>
								<tr>
									<th>认证等级</th>
									<th>课程名称</th>
									<th>考试名称</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>OICA</td>
									<td>C101、C102、C103、C104、C201、C202、C203</td>
									<td>T1、T2</td>
								</tr>
								<tr>
									<td>OICP</td>
									<td>ICA所需课程外加C301、C302、C303、C304</td>
									<td>T1、T2、T3</td>
								</tr>
								<tr>
									<td>OICE</td>
									<td>ICP所需课程外加C401、C402</td>
									<td>T1、T2、T3、T4</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="qualification">
		<div class="container">
			<div class="row">
				<div style="position: relative;">
					<h2 class="title">合作伙伴资质</h2>
					<div class="title-underline"></div>
					<div class="col-sm-10 col-sm-offset-1">
						<ul>
							<li>在当地工商行政管理局注册的合法经营机构,注册成立时间不少于1年</li>
							<li>在所在地工商行政管理局登记注册的“经营范围”中包括“销售计算机软件”（或同含义内容）</li>
							<li>铂金合作伙伴注册资金在1000万元（含）以上，金牌合作伙伴注册资金在500（含）万元及以上；银牌合作伙伴注册资金在100万元（含）以上；授权合作伙伴注册资金在50万元（含）以上。注册资金单位：人民币（RMB）</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>