<div id="body">
	<section class="hero-image">
	</section>
	<section class="hero-contents">
		<div class="container">
			<h1 class="title">企业IT运维管理专家</h1>
			<p class="desp">提升IT管理效率，加速企业IT变革</p>
			<p class="btn-p">
				<!-- <a href="https://user.oneapm.com/pages/v2/signup" target="_blank" class="btn">试用 SasS 产品</a> -->
				<a class="btn contact-us" target="_blank">点击咨询</a>
			</p>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<a href="http://www.oneapm.com/ai/feature.html" target="_blank">
						<div class="item">
							<div class="icon">
								<img src="<%= require('../../img/index/apm_sol.svg')  %>" />
							</div>
							<div class="title">
								领先的 <br/>APM 解决方案
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-3 col-xs-6">
					<a href="http://blog.oneapm.com/news/114.html" target="_blank">
						<div class="item">
							<div class="icon">
								<img src="<%= require('../../img/index/forrester.svg') %>" />
							</div>
							<div class="title">
								Forrester 研究 <br/> 分析的厂商
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-3 col-xs-6">
					<a href="http://www.oneapm.com/cpt/feature.html" target="_blank">
						<div class="item">
							<div class="icon">
								<img src="<%= require('../../img/index/cptad.svg') %>" />
							</div>
							<div class="title">
								新一代 <br/> 云压力测试平台
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-3 col-xs-6">
					<a href="http://www.oneapm.com/ni/feature.html">
						<div class="item none-border">
							<div class="icon">
								<img src="<%= require('../../img/index/network_sol.svg') %>" />
							</div>
							<div class="title">
								卓越的网络性能<br/>管理解决方案
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="it-operation">
		<div class="container">
			<h2 class="title">企业IT运维解决方案</h2>
			<div class="title-underline"></div>
			<img class="circles" src="<%= require('../../img/index/itoperation.svg') %>" alt="">
		</div>
	</section>
	<section class="technology">
		<div class="flexbox">
			<div class="bg">
				<img class="icon" src="<%= require('../../img/index/feature01.svg') %>" alt="全栈 ITOM 解决方案">
				<h3 class="title">全栈 ITOM 解决方案</h3>
				<p class="desp">国内唯一整合管理、监控、自动化三个维度产品线的厂商。</p>
			</div>
			<div class="bg">
				<img class="icon" src="<%= require('../../img/index/feature02.svg') %>" alt="领先的 APM 解决方案">
				<h3 class="title">领先的 APM 解决方案</h3>
				<p class="desp">端到端的管理企业应用性能</p>
			</div>
			<div class="bg">
				<img class="icon" src="<%= require('../../img/index/feature03.svg') %>" alt="IT 大数据分析">
				<h3 class="title">IT 大数据分析</h3>
				<p class="desp">帮助企业跨越软件、设备和服务，生成统一的IT视角。</p>
			</div>
			<div class="bg">
				<img class="icon" src="<%= require('../../img/index/feature04.svg') %>" alt="服务">
				<h3 class="title">服务</h3>
				<p class="desp">完善的 ITOM 服务，帮助企业最大化实现业务价值。</p>
			</div>
		</div>
	</section>
	<section class="products">
		<div class="bg">
			<div class="container">
				<h2 class="title">相关产品及服务</h2>
				<div class="title-underline"></div>
			</div>
		</div>
		<div class="tabs">
			<div class="container">
				<div class="row vertical-center-box">
					<div class="col-sm-3 col-xs-3">
						<p>APM</p>
					</div>
					<div class="col-sm-3 col-xs-3">
						<p>Availability <br/> and Performance</p>
					</div>
					<div class="col-sm-3 col-xs-3">
						<p>ITSM</p>
					</div>
					<div class="col-sm-3 col-xs-3">
						<p>CMDB</p>
					</div>
				</div>
			</div>
		</div>
		<div class="lists">
			<div class="container">
				<div class="row stretch-box">
					<div class="col-sm-3 col-xs-3">
						<ul>
							<li>
								<img src="<%= require('../../img/index/ai.svg') %>" alt="">
								<p class="desp">代码级应用服务端性能监控</p>
							</li>
							<li>
								<img src="<%= require('../../img/index/mi.svg') %>" alt="">
								<p class="desp">移动应用性能监控</p>
							</li>
							<li>
								<img src="<%= require('../../img/index/bi.svg') %>" alt="">
								<p class="desp">基于真实用户体验的前端<br/>浏览器性能监控</p>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-3">
						<ul>
							<li>
								<img src="<%= require('../../img/index/si.svg') %>" alt="">
								<p class="desp">企业级 IT 综合运维平台</p>
							</li>
							<li>
								<img src="<%= require('../../img/index/ni.svg') %>" alt="">
								<p class="desp">应用感知型网络性能监控</p>
							</li>
							<li>
								<img src="<%= require('../../img/index/cpt.svg') %>" alt="">
								<p class="desp">新一代云压力测试平台</p>
							</li>
							<li>
								<img src="<%= require('../../img/index/ct.svg') %>" alt="">
								<p class="desp">7*24 小时持续模拟监控</p>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-3">
						<ul>
							<li>
								<img src="<%= require('../../img/index/oneitsm.svg') %>" alt="">
								<p class="desp">IT服务流程管理平台</p>
							</li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-3">
						<ul style="border: none;">
							<li>
								<img src="<%= require('../../img/index/cmdb.svg') %>" alt="">
								<p class="desp">配置管理平台</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cases">
		<div class="container">
			<h2 class="title">用户案例</h2>
			<div class="title-underline"></div>
			<img src="<%= require('../../img/index/partners.svg') %>" alt="">
			<p class="btn-p">
				<a href="http://www.oneapm.com/clients/clientcase.html" target="_blank" class="btn">查看我们的成功案例</a>
			</p>
		</div>
	</section>
	<section class="slogan">
		<div class="container">
			<div class="space-between-box" style="position: relative;">
				<div class="wrapper"><h2 class="title">开启企业IT变革</h2></div>
				<div class="wrapper">
					<!-- <a href="https://user.oneapm.com/pages/v2/signup" target="_blank" class="btn">试用 Sass 产品</a> -->
					<a class="btn contact-us" target="_blank">点击咨询</a>
				</div>
			</div>
		</div>
	</section>
</div>