<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title><%= pf.pageTitle %></title>
	<meta name="description" content="<%= pf.description %>"/>
	<meta name="keywords" content="<%= pf.keywords %>">
	<meta name="baidu-site-verification" content="kn9EQViHUJ"/>
	<meta name="sogou_site_verification" content="RMhcz2kV1a"/>
	<meta name="360-site-verification" content="aca02031c4a7cbe6b7a4923ca081aea4" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">
</head>
<body>
	<%= header %>
	<%= content %>
	<%= footer %>
</body>